.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    width: 12px;
    height: 12px;

    border: 2px solid;
    background-color: rgb(184, 184, 184);
    border-left-color: rgb(221, 221, 221);
    border-top-color: rgb(221, 221, 221);
    border-bottom-color: rgb(78, 78, 78);
    border-right-color: rgb(78, 78, 78);
}

.cell:hover {
    cursor: pointer;
    filter: brightness(80%);
}

.num1 {
    color: blue;
}

.num2 {
    color: green;
}

.num3 {
    color: red;
}

.num4 {
    color: darkblue;
}

.num5 {
    color: brown;
}

.num6 {
    color: turquoise;
}

.num7 {
    color: black;
}

.num8 {
    color: white;
}
